 <!-------------------------------------------------------------------- FOOOTER ------------------------------------------------------->  
<div id="footerWrapper">
	    <div id="footer">
    	<div id="footer1">&nbsp;</div>
    	
			
      <div id="siteInfo">
        <div id="copy">©2012 MICROTEL</div>
      <!-- <div id="ccLogos" class="imgrep">Visa, Mastercard, AMEX, Discover, PayPal</div> -->
      </div><!-- end siteInfo -->
    </div><!-- end footer -->
 </div><!-- end footerWrapper -->

  
  <!-------------------------------------------------------------------- END FOOTER -------------------------------------------------------> 

  