#*#set($context = $request.session.getAttribute('SPRING_SECURITY_CONTEXT'))
#set($userInfo = $context.getAuthentication().getPrincipal())
#set($currDate = $date.get('MMM d, yyyy'))*#
##$request.session.getAttribute('currDate'))

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" itemscope="" itemtype="http://schema.org/Organization">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="msvalidate.01" content="11A2F70E28641DBEE9FE613AA4E55708"/>
<title>RUSH</title>

<meta name="robots" content="index,follow"/>

  	<link rel="stylesheet" type="text/css" href="$request.contextPath/styles/styles.css" /> 
  	<link rel="stylesheet" type="text/css" href="$request.contextPath/styles/tabs.css" /> 
  	<link rel="stylesheet" type="text/css" href="$request.contextPath/styles/forms.css" /> 
  	<link href="$request.contextPath/images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  	
	##<script type="text/javascript" src="$request.contextPath/js/jquery.min.js"></script> 
<!--[if !IE 7]>
	<style type="text/css">
		#wrapper {display:table;height:100%}
	</style>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="$request.contextPath/styles/jquery-ui-1.8.11.custom.css" /> 
 
   
  	<script type="text/javascript" src="$request.contextPath/js/jquery/jquery-1.7.2.js"></script>
	<script type='text/javascript' src="$request.contextPath/js/jquery/jquery-ui-1.8.16.custom.min.js"></script>

	<script type='text/javascript' src="$request.contextPath/js/jquery/jquery.jqGrid.min.4.3.1.js"></script>
	<script type='text/javascript' src="$request.contextPath/js/jquery/jquery.validate.js"></script>
	<script type='text/javascript' src="$request.contextPath/js/jquery/jquery.alphanumeric.js"></script>
	<script type="text/javascript" src="$request.contextPath/js/jquery/jquery.blockUI.js"></script> 
	
	<style type="text/css" title="currentStyle">
		@import "$request.contextPath/datatables/css/demo_page.css";
		@import "$request.contextPath/datatables/css/demo_table_jui.css";
		@import "$request.contextPath/datatables/smoothness/jquery-ui-1.8.4.custom.css";
		@import "$request.contextPath/datatables/css/jquery.dataTables_themeroller.css";
	</style> 
	
	<script type="text/javascript" language="javascript" src="$request.contextPath/datatables/js/jquery.dataTables.js"></script>
			
	<script type="text/javascript">
	    var jq = jQuery.noConflict();
	    jQuery(document).ready(function(){  
         jQuery( ".date" ).datepicker({
			changeMonth: true,
			changeYear: true
		});  
	}); 
	</script>
<script>
	jQuery(document).ready(function() {
	jQuery('#tableDisplay').dataTable( {
		"sScrollY": 200,
		"bJQueryUI": true,
		"sPaginationType": "full_numbers"
	} );
	jQuery('.number').numeric({allow:"."});	 
} );

	function busy(){
		jQuery.blockUI({ message: '<h1><img src="../../imagesx/loading.gif" /> Please wait, processing your request ...</h1>' });
	}
	jQuery(document).ajaxStart(busy).ajaxStop(jQuery.unblockUI);
	
</script>
  </head>
		<body>

			<div id="wrapper">

	    		#parse ("/decorators/header.vm")
	    		#parse ("/decorators/body.vm") 
 		</body>
	      	</div>
	    #parse ("/decorators/footer.vm")
	    






 <script>
        (function ($) {
            
            
            
            $('.tab-list')
                    .find('li')
                   
                    .click(function (e) {
                        
                            // Toggle Current Class
                            var ele = $(this),
                                    link = ele.find('a').attr('href');
                    
                            ele
                                    .addClass('current')
                                    .siblings('li')
                                    .removeClass('current');
                                    
                                    console.log(link);
                                    
                            $('.window').attr('src', link);
                            $('.search').val(link);
                                    
                            e.preventDefault();
                        
                    })
            
            $('.window').height(window.innerHeight - 100);
            
          
            
        } (jQuery))
    </script>


</html>  	
