

#*#set($context = $request.session.getAttribute('SPRING_SECURITY_CONTEXT'))
#set($userInfo = $context.getAuthentication().getPrincipal())
#set($currDate = $date.get('MMM d, yyyy'))*#
##$request.session.getAttribute('currDate'))

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" itemscope="" itemtype="http://schema.org/Organization">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="msvalidate.01" content="11A2F70E28641DBEE9FE613AA4E55708"/>
<title>RUSH</title>

<meta name="robots" content="index,follow"/>

  	<link rel="stylesheet" type="text/css" href="$request.contextPath/styles/styles.css" /> 
  	<link rel="stylesheet" type="text/css" href="$request.contextPath/styles/tabs.css" /> 
  	<link rel="stylesheet" type="text/css" href="$request.contextPath/styles/forms.css" /> 
  	<link href="$request.contextPath/images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  	
	<script type="text/javascript" src="$request.contextPath/js/jquery.min.js"></script> 
	##<script type="text/javascript" src="$request.contextPath/js/jquery/jquery.js"></script> 
<!--[if !IE 7]>
	<style type="text/css">
		#wrapper {display:table;height:100%}
	</style>

<![endif]-->
    ##<link rel="stylesheet" type="text/css" href="$request.contextPath/styles/jquery-ui-1.8.11.custom.css" /> 
    ##<link rel="stylesheet" type="text/css" href="$request.contextPath/styles/jquery.ui.datepicker.css" /> 
    
<style type="text/css" media="screen">
			@import "$request.contextPath/datatables/css/demo_page.css";
			@import "$request.contextPath/datatables/css/demo_table.css";
			@import "$request.contextPath/datatables/css/demo_table_jui.css";
			##@import "$request.contextPath/datatables/css/themes/base/jquery-ui.css";
			@import "$request.contextPath/datatables/css/themes/smoothness/jquery-ui-1.7.2.custom.css";
			/*
			 * Override styles needed due to the mix of three different CSS sources! For proper examples
			 * please see the themes example in the 'Examples' section of this site
			 */
			.dataTables_info { padding-top: 0; }
			.dataTables_paginate { padding-top: 0; }
			.css_right { float: right; }
			#example_wrapper .fg-toolbar { font-size: 0.8em }
			#theme_links span { float: left; padding: 2px 10px; }
		</style>

		
		
       	<script src="$request.contextPath/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="$request.contextPath/datatables/js/jquery.dataTables.editable.js"></script>
		<script src="$request.contextPath/datatables/js/jquery.jeditable.js" type="text/javascript"></script>
	


     

  </head>
		<body>

			<div id="wrapper">

	    		#parse ("/decorators/header.vm")
	    		#parse ("/decorators/body.vm") 
 		</body>
	      	</div>
	    #parse ("/decorators/footer.vm")
	    






 


</html>  	
        