#set($context = $request.session.getAttribute('SPRING_SECURITY_CONTEXT'))
#set($userInfo = $context.getAuthentication().getPrincipal())

#if($!userInfo.username)
	 #parse ("/decorators/welcome.vm")
#else	
	<script>
	
		document.location.href = "login.jsp";
	
	</script>
#end	