<fieldset>	

    <H>Property Maintenance</H>
    
	<div class="display">
		 	   <form name="addFacultyHeader" action="ShowFacultyAddInfo!save.action" method="Post">
 			 
 			  		<table width="100%" cellpadding="2" cellspacing="2">
 			  		     <tr> 
 			  		     <td>Property Name</td>
 			 			 <td>#stextfield ("theme=simple" "cssStyle=width:90%;" "name=firstName" "id=firstName" "value=$!personObject.FirstName" )</td>
 			 			 </tr>
 			 			 <tr>
 			 			 <td>Address</td>
			 			 <td>#stextarea ("theme=simple" "cssStyle=width:90%;" "name=firstName" "id=firstName" "value=$!personObject.FirstName" )</td>
			 			 </tr>
 			 			 
 			 			 <tr> 
 			  		     <td>Telephone Number</td>
 			 			 <td>#stextfield ("theme=simple" "cssStyle=width:90%;" "name=firstName" "id=firstName" "value=$!personObject.FirstName" )</td>
 			 			 </tr>
 			 			 <tr> 
 			  		     <td>Fax Number</td>
 			 			 <td>#stextfield ("theme=simple" "cssStyle=width:90%;" "name=firstName" "id=firstName" "value=$!personObject.FirstName" )</td>
 			 			 </tr>
 			 			 <tr> 
 			  		     <td>Website</td>
 			 			 <td>#stextfield ("theme=simple" "cssStyle=width:90%;" "name=firstName" "id=firstName" "value=$!personObject.FirstName" )</td>
 			 			 </tr>
 			 			  
    					 </table>  
    					            
         </form>  
         <input type="button" title="Save" value="Save" class="button" onclick="location.href='javascript:save()'"/>
          
    </div>
</fieldset>