<script type="text/javascript" language="javascript" src="$request.contextPath/datatables/js/ColVis.js"></script>
<script type="text/javascript" language="javascript" src="$request.contextPath/datatables/js/ColVis.min.js"></script>
<style type="text/css" title="currentStyle">
		@import "$request.contextPath/datatables/css/demo_page.css";
		@import "$request.contextPath/datatables/css/demo_table_jui.css";
		@import "$request.contextPath/datatables/css/ColVis.css";
		##@import "$request.contextPath/datatables/css/ColVisAlt.css";
		##@import "$request.contextPath/datatables/smoothness/jquery-ui-1.8.4.custom.css";
</style> 

	
<fieldset>
 

<div class="display" >
##class="tablesorter"
 		<table width ="100%" id="tablemenu" >
 		   <tr>
  			  <thead>
  	     	     <th align="center">Room Type</th>
   				 <th align="center">Rate Type</th>
     			 <th align="center">Rate Amount</th>
     			 <th align="center">Adult Limit</th>
     			 <th align="center">Adult Charge</th>
     			 <th align="center">Child Limit</th>
     			 <th align="center">Child Charge</th>
     			 <th align="center">Active</th>
     			 <th align="center" >Options</th>
     			 
   	 		</thead>
     		<tbody>
     		#set($count = 0 )
			#foreach ($list in $RoomRateSetup)
			    #if(($count % 2)==0)
   				<tr class="odd">
   				#else
   				<tr class="even">
   				#end
   	            #set($count = $count+1)
   	            <td align="left">  $!list.RoomType.Description</a></td>  
   	            ##<td>#sselect( "theme=simple" "cssStyle=width:90%;" "name=roomtype" "id=roomtype" "list=roomTypeList" "listValue=Description" "listKey=Id" "emptyOption=true" "value=$!list.RoomType.Id")</td>
   	        	<td align="center">$!list.RoomRateType.Description</td> 
   	        	
   	        	#set($premiumt=0)
			    #if($!list.RateAmount)
					#set($premiumt = $!mathutil.numformat($stack.findValue("${list.RateAmount}B")))
				#end
				#set($adultCharge=0)
			    #if($!list.AdultCharge)
					#set($adultCharge = $!mathutil.numformat($stack.findValue("${list.AdultCharge}B")))
				#end
				#set($childCharge=0)
			    #if($!list.ChildCharge)
					#set($childCharge = $!mathutil.numformat($stack.findValue("${list.ChildCharge}B")))
				#end	   			      
   				<td align="center">$!premiumt</td>
   				<td align="center">$!list.AdultLimit</td>
   				<td align="center">$!adultCharge</td>
   				<td align="center">$!list.ChildLimit</td>
   				<td align="center">$!childCharge</td>
   				<td align="center">$!list.Active</td>
   				<td ><a href="#">Edit</a>    <a href="#">Delete</a></td>
   			 
			#end
     		</tbody>
			 
   		 </tr>
		</table>	
	</div>	
 
 
  <input type="button" title="Add" value="Add" class="button" onclick="location.href='ShowFacultyMaintenance!initialLoad.action'"/> 
</fieldset>


 <script>
  $(document).ready(function(){ 	
     alert("here");
     loadTables();
     
  });
 
  function loadTables() { 
    var oTable = $('#tablemenu').dataTable( {
        "bJQueryUI": true,
		"aaSorting": [],
        "sPaginationType": "full_numbers",
        "bSortClasses": false 
    });
   
}	
	 
	
</script> 
 