<script language = "JavaScript">
	function StackTrace(param)
	{
		if (param == 1) {
			document.getElementById('form1').style.display = 'inline';
			document.getElementById('form2').style.display = 'none';
		} else{
			document.getElementById('form2').style.display = 'inline';
			document.getElementById('form1').style.display = 'none'; 				
		}
	}	
	setMessage("<strong>Unexpected error</strong> occurred, please send the error details below to <em>System Administrator<em>!", "error");
</script>
<br><br>
<form name="stackTraceForm" method="post">		
    <fieldset class=sub>
    	<legend>System Error Found </legend>	
	    <span><font size="3" color="red" face="Verdana">$stack.findValue("systemError") </font></span>
    	<span id="form1">	
			<table align="left">						
				<tr><td><a href="Javascript:StackTrace(2)">view details</a></td>
				</tr>
			</table>	
    	</span>
    	<span id="form2" style="display: none">
			<table align="left">						
				<tr><td><a href="Javascript:StackTrace(1)">view details</a></td>
				</tr>
			</table>	
    		<br><br>			    	
			<br><br>			
            #set ($stackTraces = $stack.findValue("stackTrace"))
            #if ($stackTraces)
            <table align="left">			
             <tr>
	           <td>
	               Stack Trace:
	           </td>
	        </tr>
	         <tr>
	           <td >
					$stackTraces
	           </td>
	        </tr>
            </table>	
			#end			
			<br><br>
			<br><br>			
    	</span>
    </fieldset>
    <Input type="hidden" name='viewDetail'/>
</form>