
	
<fieldset class="main">
 

<div >
 		<table width ="100%" id="reserveRoomDisplay" class="display">
 		    
  			  <thead>
  	     	     <th align="center">Room No</th>
   				 <th align="center">Room Type</th>
      			 <th align="center">Status</th>
     			 <th align="center">Check-In Date</th>
     			 <th align="center">Check-Out Date</th>
     			 <th align="center">Number of Adults</th>
     			 <th align="center">Number of Children</th>
     			 
     			 
   	 		</thead>
     		<tbody>
     		#set($count = 0)
     		 #foreach($room in $reservation.ReservedRooms)
			   #if(($count % 2)==0)
   				<tr class="odd">
   				#else
   				<tr class="even">
   				#end
			     
   			 
   	            #set($count = $count+1)
   				
   				#set($checkin="")
                #if($!room.CheckInDate)
   	          	    #set($checkin = $dateUtil.getDateMMDDYYYY($room.CheckInDate))
   	        	#end
   	        	#set($checkout="")
                #if($!room.CheckOutDate)
   	          	    #set($checkout = $dateUtil.getDateMMDDYYYY($room.CheckOutDate))
   	        	#end  
   	        	 
   	        	<td align="center">$!room.Room.RoomNo</td>  
   	        	<td align="center">$!room.Room.RoomType.Description</td>
   	        	<td align="center">$!room.Status.Description</td>
   	        	<td align="center">$!checkin</td>
   				<td align="center">$!checkout</td>
   	        	<td align="center">$!room.NumberOfAdults</td>      
   				<td align="center">$!room.NumberOfChildren</td>
   		 	  	</tr>
   				#end 
     		 
     		</tbody>
			 <div>
			    <a href="#"><img src="../../images/add.png"  title="Add Room"/></a>&nbsp;&nbsp;&nbsp;
			    <a href="#"><img src="../../images/Edit.jpg"  title="Edit"/></a>
			 </div>
   		 
		</table>	
	</div>	
 
 
  ##<input type="button" title="Add" value="Add" class="button" onclick="location.href='ShowFacultyMaintenance!initialLoad.action'"/> 
</fieldset>
	 
<script >	 
 
  $(document).ready(function(){ 	
    
	   //loadRoomTables();
 
    
  });
 
 function loadRoomTables() {
 
   jQuery('#reserveRoomDisplay').dataTable({
			"sScrollY": 200,
			"bJQueryUI": true,
			"sPaginationType": "full_numbers"
		}); 
 }
  


	 
</script>
  
##<script>
##	$('#tablemenu tr:odd').addClass('odd');
	
##	$('#tablemenu tr:even').addClass('even');
##	$('#tablemenu').tablePagination();
##</script>		