
<script language="javascript" type="text/javascript">
   function exitReservationList() {
    
      document.location.ref="$request.contextPath/index.vm";
   }
</script>

 <fieldset class="main">
	 <legend>Available Rooms</legend>
 <fieldset  >
               <div align="left">
                 <a href="ShowReservationList.action?viewType=Reservations"><img src="../../images/exit2.png"  title="Exit"/></a>
               </div>
            </fieldset>

      
   <div class="display">
   
  
	<table width ="100%" id="roomDisplay" class="display"  >
 
  			  <thead> 
  	    
  			     <th align="center">Room No</th>
 			     <th align="center">Room Type</th>
  			     <th align="center">Status</th>
     			
     			  
    		</thead>
    		
    		<tbody>
    	 
    		#set($count = 0 )
			
			 
			</tbody>
			 
   		 </tr>
		</table>	
	 </div>
	
	</fieldset>
	
	##<fieldset class=sub >
	##<legend>Fund Posting</legend>    
	##	<div style="height:600; width:100%">
	##		<IFRAME SRC="ShowReservationInfo!initialLoad.action" WIDTH='100%' HEIGHT='100%' scrolling='no' frameborder=0 marginwidth=0 marginheight=0></IFRAME>
	##	</div>
 </fieldset> 
	 
<script >	 
 
  $(document).ready(function(){ 	
    
	   loadTables();
 
    
  });
 
 function loadTables() {
   
   jQuery('#roomDisplay').dataTable({
			//"sScrollY": 200,
			"bJQueryUI": true,
			"sPaginationType": "full_numbers"
			
		});
		//.makeEditable({
		//sUpdateURL: "UpdateData.php"
	//});
 }
  


	 
</script>

#*<script type="text/javascript">
	    $('.new').attr("href", "javascript:showSearch();").show();
	     $('.search').attr("href", "javascript:doSearch();").show();
	    $('.clear').attr("href", "javascript:submitDelete();").show();
	</script> 	*#
  