 <script language ="JavaScript">
    function save(){
        document.addFacultyInfo.firstName.value = document.addFacultyHeader.firstName.value;
        document.addFacultyInfo.middleName.value = document.addFacultyHeader.middleName.value;
        document.addFacultyInfo.lastName.value = document.addFacultyHeader.lastName.value;
        document.addFacultyInfo.status.value = document.addFacultyHeader.status.value;
        document.addFacultyInfo.clazz.value = document.addFacultyHeader.clazz.value;
        document.addFacultyInfo.school.value = document.addFacultyHeader.school.value;
	    document.addFacultyInfo.action = "ShowFacultyPersonalInfo!save.action";
        document.addFacultyInfo.submit();
        
        	 
	}
	function showEducation() {
	   document.location.href = "ShowFacultyAddEducation.action";
	}
</script>
 
#set($personObject =  $mapHeader.get("personObject"))
#set($facultyObject = $mapHeader.get("facultyObject"))

 <fieldset class=main>	
    
	<div class="display">
		   <form name="addFacultyInfo" action="ShowFacultyAddInfo!save.action" method="Post">
 			 
 			  		<table width="100%" cellpadding="2" cellspacing="2">
 			  		     <tr> 
 			  		     <td>Last Name</td>
 			 			 <td>#stextfield ("theme=simple" "cssStyle=width:90%;" "name=nickName" "id=nickName" "value=$!personObject.NickName" )</td>
 			 			 </tr>
 			 			 <tr> 
 			  		     <td>First Name</td>
 			 			 <td>#stextfield ("theme=simple" "cssStyle=width:90%;" "name=nickName" "id=nickName" "value=$!personObject.NickName" )</td>
 			 			 </tr>
 			 			 <tr> 
 			  		     <td>Middle Name</td>
 			 			 <td>#stextfield ("theme=simple" "cssStyle=width:90%;" "name=nickName" "id=nickName" "value=$!personObject.NickName" )</td>
 			 			 </tr>
 			 			 <tr> 
 			  		    
 			 			 
 			 			 <tr>
 			 			 <td>Gender</td>
 			 			 <td>#sselect("theme=simple" "cssStyle=width:90%;" "name=gender" "id=gender" "list=genderList" "listValue=RefDesc" "listKey=RefId" "value=$!personObject.Gender.RefId" "emptyOption=true")</td>
 			 			 </tr>
 			 			 
 			 		 
 			 		 
 			 			 <tr>
 			 			 <td>Address</td>
 			 			 <td>#stextfield("theme=simple" "cssStyle=width:90%;" "name=nickName" "id=nickName" "value=$!personObject.NickName" )</td>
 			 			 </tr>
 			 			 <tr>
 			 			 <td>Country</td>
 			 			 <td>#sselect("theme=simple" "cssStyle=width:90%;" "name=citizen" "id=citizen" "list=citizenList" "listValue=RefDesc" "listKey=RefId" "value=$!personObject.Citizenship.RefId" "emptyOption=true")</td>
 			 			 </tr>
 			 			  <tr>
 			 			 <td>Phone No</td>
 			 			 <td>#stextfield("theme=simple" "cssStyle=width:90%;" "name=nickName" "id=nickName" "value=$!personObject.NickName" )</td>
 			 			 </tr>
 			 			  <tr>
 			 			 <td>Email Address</td>
 			 			 <td>#stextfield("theme=simple" "cssStyle=width:90%;" "name=nickName" "id=nickName" "value=$!personObject.NickName" )</td>
 			 			 </tr>
 			 			  			 
    					 </table>  
           <input type="hidden" name="firstName">
           <input type="hidden" name="middleName">
           <input type="hidden" name="lastName">
           <input type="hidden" name="school">
           <input type="hidden" name="clazz">
           <input type="hidden" name="status">
        </form>  
       
    </div>
    
    
    
   
   
 #***  
    <div class="buttons">
		<a href="javascript:save();">
   			 <img src="../../images/buttons/Save.jpg" alt="detail" style="vertical-align:middle;border:0px">	
    		</a>
    		
    	#if ($Message.Description)
    		<a href="../../secured/faculty/ShowFacultyMaintenance!initialLoad.action;">
   			 <img src="../../images/buttons/AddNewFaculty.jpg" alt="detail" style="vertical-align:middle;border:0px">	
    		</a>
            
   		#end		
    </div>
  *#  
    
</fieldset>   