 
 <script language="javascript" type="text/javascript">
   function exit(type) {
      document.location.href="ShowReservationList.action?viewType="+type;
   }
</script>
<fieldset class="main">	
<legend>$ViewType</legend>
      <fieldset >
        ##<div align="left" >
    		#if ($ViewType=="Reservations")
        	  <a href="#"><img src="../../images/Save.jpg"  title="Save"  /></a> &nbsp;&nbsp;
        	  <a href="#"><img src="../../images/Print.jpg"  title="Print"/></a> &nbsp;&nbsp;
       		  <a href="#"><img src="../../images/Mail.jpg"  title="Send Email"/></a>&nbsp;&nbsp;
     		 
     		#end  
     		#if ($ViewType=="Check-In")
     		  <a href="#"><img src="../../images/Save.jpg"  title="Save"/></a> &nbsp;&nbsp;
        	   
     		#end
     		#if ($ViewType=="Check-Out")
        	  <a href="#" ><img src="../../images/Save.jpg"  title="Save"/></a> &nbsp;&nbsp;
        	  <a href="#"><img src="../../images/Print.jpg"  title="Print Receipt"/></a> &nbsp;&nbsp;
     		  
     		#end
     		<a href="javascript:exit('$ViewType');"><img src="../../images/exit2.png"  title="Exit"/></a>
        ##</div>
   
         </fieldset>  
	  <div >
	   
	  
		 	   <form name="addFacultyHeader" action="ShowFacultyAddInfo!save.action" method="Post">
 			 
 			  		<table width="100%" cellpadding="0" cellspacing="0">
 			  		     <tr> 
 			  		     <td>Reservation No.</td>
 			 			 <td>#stextfield ("theme=simple" "cssStyle=width:60%;"  "name=id" "id=id" "value=$!reservation.Id" "readonly=true")</td>
 			 			 <td>Status</td>
			 			 <td>#sselect( "theme=simple" "cssStyle=width:90%;" "name=status" "id=status" "list=statusList" "listValue=Description" "listKey=Id"  "emptyOption=true" "value=$Reservation.Status.Id")</td>
 			 			 
 			 			 </tr>
 			 			 <tr> 
 			  		     <td>Customer Name</td>
 			 			 <td>#stextfield ("theme=simple" "cssStyle=width:60%;" "name=customerName" "id=customerName" "value=$!Reservation.Customer.FullName" )
 			 			 <a href="#"><img src="../../images/search_small.png"  title="Search Customer"/></a> &nbsp;&nbsp;
 			 			 
 			 			 </td>
 			 			  <td>Reservation Type</td>
			 			 <td>#sselect( "theme=simple" "cssStyle=width:90%;" "name=type" "id=type" "list=typeList" "listValue=Description" "listKey=Id" "emptyOption=true" "value=$Reservation.Type.Id")</td>
			 			
 			 			 </tr>
 			 			 <tr>
 			 			 #set($bookdatefmt="")
                         #if($!reservation.bookDate)
   	          	            #set($bookdatefmt = $dateUtil.getDateMMDDYYYY($reservation.bookDate))
   	         	         #end
 			 			 <td>Book Date</td>
			 			 <td>#stextfield ("theme=simple" "cssStyle=width:60%;" "name=bookDate" "id=bookDate" "value=$!bookdatefmt" "cssClass=date")</td>
 			 			 <td>Source Type </td>
			 			 <td>#sselect( "theme=simple" "cssStyle=width:90%;" "name=sourceType" "id=sourceType" "list=sourceTypeList" "listValue=Description" "listKey=Id" "emptyOption=true" "value=$Reservation.SourceType.Id")</td>
 			 			 
 			 			 </tr>
 			 			 <tr>
 			 			 <td></td>
			 			 <td></td>
 			 			  <td>Market Type</td>
			 			 <td>#sselect( "theme=simple" "cssStyle=width:90%;" "name=type" "id=marketType" "list=marketTypeList" "listValue=Description" "listKey=Id" "emptyOption=true" "value=$Reservation.Type.Id")</td>
 			 			 
 			 			 </tr>
 			 			  <tr>
 			 			 <td> </td>
			 			 <td></td>
 			 			  <td>Travel Agent</td>
			 			 <td>#sselect( "theme=simple" "cssStyle=width:90%;" "name=travelAgent" "id=travelAgent" "list=travelAgentList" "listValue=Company" "listKey=Id" "emptyOption=true" "value=$Reservation.TravelAgent.Id")
			 			 </td> 
 			 			 </tr>
			 			  
    					 </table>  
           
         </form>   
    </div>
</fieldset>