<fieldset  class="main">
   <legend>Payment Details</legend>
            #set($sumChargesFmt=0)
			#if($!Payment.TotalCharges)
			   #set($sumChargesFmt = $!mathutil.numformat($stack.findValue("${Payment.TotalCharges}B")))
			#end
			
			#set($sumDiscountFmt=0)
			#if($!Payment.TotalDiscount)
			   #set($sumDiscountFmt = $!mathutil.numformat($stack.findValue("${Payment.TotalDiscount}B")))
			#end
			
			#set($sumDepositFmt=0)
			#if($!Payment.Deposit)
			   #set($sumDepositFmt = $!mathutil.numformat($stack.findValue("${Payment.Deposit}B")))
			#end
			
			#set($sumAmtDueFmt=0)
			#if($!Payment.BalanceDue)
			   #set($sumAmtDueFmt = $!mathutil.numformat($stack.findValue("${Payment.BalanceDue}B")))
			#end
		<table width="100%" cellpadding="0" cellspacing="0">
           <tr>
           <td>Total Charges</td>
           <td  >#stextfield ( "theme=simple" "cssStyle=width:50%;"  "name=id" "id=id" "value=$!sumChargesFmt" "readonly=true" "align=right")</td>
            <td>Payment Type</td>
           <td> #sselect(  "theme=simple" "cssStyle=width:80%;" "name=paytype" "id=paytype" "list=payTypeList" "listValue=Description" "listKey=Id"  "emptyOption=true" "value=$Reservation.Payment.PayType.Id")</td>
        
           </tr>
           <tr>
           <td>Deposit</td>
           <td  >#stextfield ( "theme=simple" "cssStyle=width:50%;"  "name=id" "id=id" "value=$!sumDepositFmt"  )</td>
           <td>Amount Paid</td>
           <td  >#stextfield ( "theme=simple" "cssStyle=width:80%;"  "name=cardno" "id=cardno"  )</td>
           </tr>
           <tr>
           <td>Discount</td>
           <td  >#stextfield ( "theme=simple" "cssStyle=width:50%;"  "name=id" "id=id" "value=$!sumDiscountFmt" "readonly=true")</td>
           <td>Card Number</td>
           <td >#stextfield ( "theme=simple" "cssStyle=width:80%;"  "name=cardno" "id=cardno"  )</td>
  
           
           </tr>
           <tr>
           <td>Balance Due</td>
           <td  >#stextfield ( "theme=simple" "cssStyle=width:50%;"  "name=id" "id=id" "value=$!sumAmtDueFmt" "readonly=true")</td>
           <td>Expiry Date (MM/YYYY)</td>
           <td >#stextfield ( "theme=simple" "cssStyle=width:80%;"  "name=cardno" "id=cardno"  )</td>
           
           </tr>
           <tr>
           <td></td>
           <td><input type="submit" value="  Apply Payment  "></td>
           <td>Cardholder's Name</td>
           <td >#stextfield ( "theme=simple" "cssStyle=width:80%;"  "name=cardname" "id=cardname"  )</td>
           </tr>
          
        </table>
         
 </fieldset>
        
<fieldset  class="main">
 
	<legend>Charges Details</legend>
	<div >
        
 		<table width ="100%" id="roomChargesDisplay" class="display">
 		    
  			  <thead>
  	     	     <th align="center">Tran Id</th>
  	     	     <th align="center">Tran Date</th>
   				 <th align="center">Tran Type</th>
      			 <th align="center">Room No</th>
     			 <th align="center">G/L Account No</th>
     			 <th align="center">Description</th>
     			 <th align="center">Charges</th>
     			 <th align="center">Discount</th>
     			 <th align="center">Amount Due</th>
     			 <th align="center">Payments</th>
     			 
   	 		</thead>
     		<tbody>
     		 #set($totalCharges=0)
     		 #set($totalDiscount=0)
     		 #set($totalAmtDue=0)
     		 #set($count = 0)
     		 #foreach($room in $reservation.ReservedRooms)
     		 
     		 	#foreach($charge in $room.RoomCharges)
				    #if(($count % 2)==0)
	   				  <tr class="odd">
	   				#else
	   				  <tr class="even">
	   				#end
				     
	   			 
	   	            #set($count = $count+1)
	   				
	   				#set($chargeAmtFmt=0)
				    #if($!charge.AmountDue)
						#set($chargeAmtFmt = $!mathutil.numformat($stack.findValue("${charge.ChargeAmount}B")))
					#end
	   	        	#set($discountFmt=0)
				    #if($!charge.Discount)
						#set($discountFmt = $!mathutil.numformat($stack.findValue("${charge.Discount}B")))
					#end
					#set($amtDueFmt=0)
				    #if($!charge.AmountDue)
						#set($amtDueFmt = $!mathutil.numformat($stack.findValue("${charge.AmountDue}B")))
					#end
	   			    #set($totalDue = $stack.findValue("$totalDue+${charge.AmountDue}B"))
	
					#set($trandatefmt="")
	                #if($!charge.TranDate)
	   	          	    #set($trandatefmt = $dateUtil.getDateMMDDYYYY($charge.TranDate))
	   	         	#end
	   	         	#set($totalCharges=$stack.findValue("$totalCharges+${charge.ChargeAmount}B"))
	     		    #set($totalDiscount=$stack.findValue("$totalDiscount+${charge.Discount}B"))
	     		    ##set($totalAmtDue=$stack.findValue("$totalAmtDue+${totalCharges-totalDiscount}B"))
	   	         	         
					<td align="center">$!charge.Id</td>  
	   	        	<td align="center">$!trandatefmt</td>
	   	        	<td align="left">$!charge.GeneralLedger.Type</td>
	   	        	<td align="center">$!charge.ReservationRoom.Room.RoomNo</td>
	   	        	<td align="center">$!charge.GeneralLedger.Acct</td>
	   				<td align="left">$!charge.GeneralLedger.Description</td>
	   			    <td align="right">$!chargeAmtFmt</td>      
	   			    <td align="right">$!discountFmt</td>      
	   			    <td align="right">$!amtDueFmt</td>      
	   				##<td align="right">$!charge.Payment</td>
	   				<td align="right">#stextfield ( "theme=simple" "cssStyle=width:60%;"  "name=id" "id=id" "value=$!totalAmtDueFmt" )</td>
	   				</tr>
	   			#end
	   				
	   		#end 
	     	#set($totalChargeFmt=0)
			#if($!totalCharges)
			   #set($totalChargeFmt = $!mathutil.numformat($stack.findValue("${totalCharges}B")))
			#end
			
			#set($totalDiscountFmt=0)
			#if($!totalDiscount)
			   #set($totalDiscountFmt = $!mathutil.numformat($stack.findValue("${totalDiscount}B")))
			#end
			
			#set($totalAmtDueFmt=0)
			#if($!totalAmtDue)
			   #set($totalAmtDueFmt = $!mathutil.numformat($stack.findValue("${totalAmtDue}B")))
			#end
		    <div>
	        <tr>
	     		<td></td>
	     		<td></td>
	     		<td></td>
	     		<td></td>
	     		<td></td>
	     		<td></td>
	     		<td align="right">$totalChargeFmt</td>
	     		<td align="right">$totalDiscountFmt</td>
	     		<td align="right">$sumAmtDueFmt</td>
	     		<td></td>
	     	</tr>
	     	</div>	     
	     	</tbody>
			<div>
			    <a href="#"><img src="../../images/add.png"  title="Add Charge"/></a>&nbsp;&nbsp;&nbsp;
			    <a href="#"><img src="../../images/Edit.jpg"  title="Edit"/></a>
			 </div>
			
			
   		 
		</table>	
	</div>	
  

</fieldset>
	 
<script >	 
 
  $(document).ready(function(){ 	
    
	   loadRoomTables();
 
    
  });
 
 function loadRoomTables() {
 
   jQuery('#reserveRoomDisplay').dataTable({
			"sScrollY": 200,
			"bJQueryUI": true,
			"sPaginationType": "full_numbers"
		}); 
 }
  


	 
</script>
  
<script>
	$('#tablemenu tr:odd').addClass('odd');
	
	$('#tablemenu tr:even').addClass('even');
	$('#tablemenu').tablePagination();
</script>		