/* A CSS Framework by Mike Stenhouse of Content with Style */

/* FORM ELEMENTS */

	form {
		margin:0;
		padding:0;
	}
	form div,
	form p {
		font-size: 1em;
		margin: 0 0 1em 0;
		padding: 0;  
	}
	
	form .tableForm{
	
		background:#e8e7d5;
		border:5px #fff solid;

	}
	label {
		font-weight: bold;
	}
	fieldset {
		border: 1px solid #DEDEDE;
		padding: 10px 10px 10px 10px;
		margin: 0 0 1.5em 0;
	}
	fieldset legend {
		color: #096B0A;
		font-size: 1em;
		font-weight: bold;
		margin: 0 0 0 0px;
		padding: 4px;
		padding-left: 5px;
		padding-right: 5px;
		background-color: #FAFCE6;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		border:0.1em solid #DEDEDE;
	}

	fieldset ul {
		list-style: none;
		margin: 0 0 1.5em 0;
		padding: 0;
	}
	fieldset ul li {
		list-style: none;
		margin: 0 0 0.5em 0;
		padding: 0;
	}
     
    fieldset h{  
		font-size: 1.4em;
		font-weight:bold;
		line-height: 3em;
		margin:0.6em;
		padding: 0;
		padding-bottom:0.6em;
	
       	color: black;
	} 
     
	
	input, select, textarea {
		font-size:1em; 
		font-family: arial, helvetica, verdana, sans-serif;
        
        margin: 0;
		padding: 2px;
	}
	
	input, select {
		vertical-align:middle;
	}
	
	textarea {
		width: 200px;
		height: 8em;
	}
	
	input.check {
		border: none;
		width: auto;
		height: auto;
		margin: 0;
	}
	input.radio {
		border: none;
		width: auto;
		height: auto;
		margin: 0;
	}
	input.file {
		height: auto;
		width: 250px;
	}
	input.readonly {
		background-color: transparent;
		border: none;
	}

  /* BUTTON */  	
	input.button {  
     height:26px;
 
     color: white;  
     text-decoration: none;  
     font-size: 13px;  
     font-family: arial;  
     min-width:60px;
	float:right;
     text-align: center;  
     position: relative;  
  	cursor:pointer;
     /* BACKGROUND GRADIENTS */  
  		background: #014464;  
        background: -moz-linear-gradient(top, #0c5f85, #0b5273 50%, #024869 51%, #003853);  
        background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0, #0c5f85), color-stop(.5, #0b5273), color-stop(.51, #024869), to(#003853));  

  padding-left:4px;
   padding-right:4px;
   padding-bottom:5px;
     /* BORDER RADIUS   
     -moz-border-radius: 2px;  
     -webkit-border-radius: 2px;  
     border-radius: 2px;  
  */
  		margin-right:5px;
  
     border: 1px solid #36BE38;  
     border-top: 1px solid #C4DFC3;  
  
     /* TEXT SHADOW */  
  
     text-shadow: 1px 1px 1px black;  
  
    }  
  
  
    /* WHILE HOVERED */  
    input.button:hover {  
    	color:FCF405;
 /**       background: #046401;  
     	background: -moz-linear-gradient(top, #188E0D, #127A0C 50%, #017101 51%, #035C00);  
    	background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0, #198E0E), color-stop(.5, #157A0C), color-stop(.5, #057101), to(#005C03));   
    */     
    
    background: #014464;  
        background: -moz-linear-gradient(top, #0D6891, #0C5C82 50%, #01547A 51%, #004161);  
        background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0, #0D6891), color-stop(.5, #0C5C82), color-stop(.51, #01547A), to(#004161));  
 
       }  
  
    /* WHILE BEING CLICKED */  
    input.button:active {  
        -moz-box-shadow: 0 2px 6px black;  
        -webkit-box-shadow: 0 2px 6px black;  
    }  
    /* FONT GLYPH (MOSTLY FOR FUN) */  
    input.button:before {  
        font-family: EfonRegular;  
        content: 'v';  
        color: #09232F;  
        font-size: 90px;  
        float: left;  
        margin-left: 35px;  
        margin-right: -10px;  
        text-shadow: 0 1px 0 #4190AF;  
    }  
	
	
	input.image {
		border: none;
		width: auto;
		height: auto; 
	}
	
    form div.submit {
		margin: 1em 0;
	}
    form div.submit input {
		height: 2em;
        width: 15em;
	}
	
/* END FORM ELEMENTS */
		
/*Login forms*/		
	.className{
			width:360px;
			height:220px;
			position:absolute;
			left:50%;
			top:50%; 
			background:#fff;
		} 
		#login {   
		    padding-left: 5px;
		    min-width:140px;
		    -moz-border-radius: 5px;
		    -webkit-border-radius: 5px;
		    border-radius: 5px;
		    border: 13px solid #fff;
		    background:#e8e7d5;
 		    -moz-box-shadow: 0 0 1em #67675e;
                -webkit-box-shadow: 0 0 1em #67675e;
                box-shadow: 0 0 1em #67675e; 
		}

	.login{
	text-decoration: none;
	font-family: Verdana;
	font-style: none;
	}

		.input-rounded-button {
		    -webkit-border-radius: 5px;
		    -moz-border-radius: 5px;
		    border-radius: 5px;
		    border: 1px solid gray;
		    padding:0 3px 0 3px;
		    display:inline-block;
		    text-decoration:none;
		    background:#006151;
		
		    color:#FFFFFF;
		    cursor:pointer;
		    font:15px sans-serif;
		}
		
		.input-rounded-button:hover { 
		    text-decoration:none; 
		    color:#fff100; 
		    cursor:pointer;
		    border:1px solid transparent;
		}
		
	.search_row{
	
	width:98%;
}

#result_content{
	margin-top:30px;
	background:#fff;
	width:auto;
	padding:10px;
}


	#result{   
		    padding-left: 5px;
		    min-width:140px;
		    -moz-border-radius: 5px;
		    -webkit-border-radius: 5px;
		    border-radius: 5px;
		    border: 13px solid #fff;
		    background:#e8e7d5;
		   
 		    -moz-box-shadow: 0 0 1em #67675e;
                -webkit-box-shadow: 0 0 1em #67675e;
                box-shadow: 0 0 1em #67675e; 
		}
		
		.display{   
		    padding: 15px;
		     padding-right: 5px;
		      padding-left: 5px;
		    min-width:140px;
		    -moz-border-radius: 4px;
		    -webkit-border-radius: 4px;
		    border-radius: 4px;
		    border: 7px solid #fff;
		    border-top: 8px solid #fff;
		    border-bottom: 8px solid #fff;
		    background:#e8e7d5;
		 	margin-bottom:12px;
		    -moz-box-shadow: 0 1px 1px #E0E0E0;
            -webkit-box-shadow: 0 1px 1px #D6D6D6;
            box-shadow: 0 1px 1px #D6D6D6; 
            
		}	
		
		
	fieldset h1{
		font-family: Arial;
		font-weight: normal;
		font-size: 14px;
		margin:0;
		padding:0;
		margin-right:5px;
		padding-bottom:5px;
		text-align: right;
	}
		
		.display thead {
	background:#006150;
	color:#ffef01;
	font-family: Arial,Verdana;
	font-size: 14px;
	line-height: 18px;
	
	}
	
	.display thead th{
	padding:7px;
	}
	
	.display thead.thead2 {
	background:#6dd2c2;
	color:#ffef01;
	font-family: Arial,Verdana;

	}
	
	.display thead.thead2 th {
	
	padding-top:4px;
	padding-bottom:4px;

	}	
	
	.display table{
	border-spacing:0px; 
	}
	
	.display table td,th {
	 border-left:solid 6px #e8e7d5;
	}
	
	.display table td:first-child {
       border-left:0;
     }
	.display table th:first-child {
       border-left:0;
     }
	
	.display table td {
	
	font-family: Verdana;
	font-size: 12px;
	padding:5px;
	padding-left:5px;
	margin:20px;
	color:#000;
	
	}
	
		
	#result thead {
	background:#006150;
	color:#ffef01;
	font-family: Arial,Verdana;
	font-size: 15px;
	line-height: 18px;
	}
	
	#result thead.thead2 {
	background:#6dd2c2;
	color:#ffef01;
	font-family: Arial,Verdana;

	line-height: 14px;
	}
		
#result td {
	
	font-family: Arial,Verdana;
	font-size: 13px;
	padding-left:5px;

	}
	
	.buttons{
	text-align: right;
	margin-right:5px;
	}
