/* A CSS Framework by Mike Stenhouse of Content with Style */

/* SITE SPECIFIC LAYOUT */


   #main{ 
      padding:180px 0 0 0;
	  /* background: #f3f3f3 url('../images/layout/bg_head.jpg') top left repeat-x; */
	  font-size: 10px; margin: 0px; font-family: verdana, arial, helvetica, sans-serif;
	 text-decoration: none;
	  
   }	 
  div#header{
	position:absolute;
	top:0;
	left:0;
	width:99%;
	height:145px;
	margin-left:10px;
	margin-right:10px;
	margin-top:5px;
	
	/*background: transparent url('../images/layout/logo.png') left no-repeat; */
  }
  
  #index_page{
 	 text-align:center;
 	
  }
  
    #index_page img{
 	 margin-bottom:40px;
  }
  
  div#head_user {
     margin: 0;
     padding: 0 0 0 0; 
   	 color: #FFF;
     text-align: right;
     height: 22px;
     width:99%;
     border-bottom: 1px solid #333333;
   font-style: normal;
   text-decoration: none;
  }
  
  #head_user span font{
   text-decoration: none;
  }
  
  div#footer{
     text-align: center;
     bottom:0;
     left:0;
     width:100%;
     background: #000 url('../images/layout/ad-footer-background.gif') bottom left repeat-x;
  	 position:relative;
     color: white;
     padding:0;
     padding-top: 1px;
     box-shadow:   inset 0px 11px 8px -10px #000,
        inset 0px -11px 8px -10px #000; 

-webkit-box-shadow:   inset 0px 11px 8px -10px #000,
        inset 0px -11px 8px -10px #000; 

-moz-box-shadow:   inset 0px 11px 8px -10px #000,
        inset 0px -11px 8px -10px #000; 
        
   min-height: 50px;
	height: auto !important;
	height: 100%;   
    
 }
 
#footer p{
	
	margin-top:1px;
	margin-bottom:1px;
	padding:7px;
	}
	
#footer .menu_footer td
{
vertical-align:text-top;
text-decoration: none;
    
	}	
	
.push {
	height: 30px; /* .push must be the same height as .footer */
	
}
 
.footer {
	height: 110px; /* .push must be the same height as .footer */
	background-color: #000;
	text-decoration: none;
	padding-left:30px;
padding-right:30px;
padding-top:4px;
    min-height: 20px;
	height: auto !important;
	height: 100%;
	
	
}

.footer a {
	text-decoration: none;
		font-size: 9px; color:#fff;
		margin-left: 9px; 
}

.footer a:hover {
	color:#FFFF19;
}

a.menu1{
	font-size: 11px; color:#fff;	margin-left: 0px;
	}
 
div#content {
     position: relative;
     width: 98%;
     margin: 5px auto 20px auto;
     padding: 0;
     text-align: left;
     min-height: 445px;
	height: auto !important;
	height: 100%;
	margin: 0 auto -20px;
  }
 
#contentColumn {
	width: auto;
	margin-left: 35px;
	background: #eef9ff;
}

#innerContentColumn {
	overflow: visible;
	height: 100%; /* fix the Win32 IE float bug */
	margin-top: 20px;
}

        





/*-----tableBody------------*/

.tableBody {
	font-family: Verdana;
	font-size: 10px;
	line-height: 15px;
	color: #000;
	text-decoration: none;
	background:#e8e7d5;
	padding:12px;
	
}

.tableBody a,
.tableBody a:link,
.tableBody a:visited,
.tableBody a:active {
	font-size: 10px;
	font-family: verdana;
	line-height: 15px;
	color: #000;
	text-decoration:none;
}
	

.tableBody th {
	padding: 5px;
	font:bold 20px/25px Arial, Helvetica;

}

.tableBody td{
	font: 12px verdana;
	padding: 5px;

}
/*-----tableHead------------*/


tr.tableHead td, tr.tableHead th, td.tableHead, .tableHead { 
	font: bold 9px verdana;
	line-height: 14px;
	color: #fff;
	padding: 5px;
}

.tableHead td a,
.tableHead td a:link,
.tableHead td a:visited,
.tableHead td a:active,
tr.tableHead td a,
tr.tableHead td a:link,
tr.tableHead td a:visited,
tr.tableHead td a:active,
tr.tableHead th a,
tr.tableHead th a:link,
tr.tableHead th a:visited,
tr.tableHead th a:active,
td.tableHead a,
td.tableHead a:link,
td.tableHead a:visited,
td.tableHead a:active {
	font: bold 9px verdana;
	line-height: 14px;
	color: #fff;
	text-decoration:none;
}



/*-----tableSubHead------------*/


tr.tableSubHead td, tr.tableSubHead th, td.tableSubHead { 
	font: bold 9px verdana;
	line-height: 14px;
	color: #000;
	padding: 5px;
}

tr.tableSubHead td a,
tr.tableSubHead td a:link,
tr.tableSubHead td a:visited,
tr.tableSubHead td a:active,
tr.tableSubHead th a,
tr.tableSubHead th a:link,
tr.tableSubHead th a:visited,
tr.tableSubHead th a:active,
td.tableSubHead a,
td.tableSubHead a:link,
td.tableSubHead a:visited,
td.tableSubHead a:active {
	font: bold 9px verdana;
	line-height: 14px;
	color: #000;
	text-decoration:none;
}

.oddRow { background-color: #f8f8f2; }
.evenRow { background-color: #f2f2e8; }
.odd { background-color: #f8f8f2; }
.even { background-color: #f2f2e8; }

.oddRow tr:hover{ background-color: #CAE5FF; }
.evenRow tr:hover { background-color: #CAE5FF; }
.odd tr:hover { background-color: #CAE5FF; }
.even tr:hover { background-color: #CAE5FF; }


/ ****    TABS   *****/


ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 25px; /*--Set height of tabs--*/
	margin-left:4px;
	margin-top:4px;
	width:100%;

	
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 24px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 24px; /*--Vertically aligns the text within the tab--*/
	/*--border: 1px solid #999;--*/

	overflow: hidden;
	
	background: #9CE19C;
	margin-right: 5px;
	-moz-border-radius-topright: 5px;-webkit-border-top-right-radius:5px; border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;-webkit-border-top-left-radius:5px; border-top-left-radius: 5px;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.0em;
	padding: 0 20px;
	 /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
	margin:0;
	-moz-border-radius-topright: 4px;-webkit-border-top-right-radius:4px; border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;-webkit-border-top-left-radius:4px; border-top-left-radius: 4px;
}

	
ul.tabs li a:hover {
	
	background: #C1FABB;
	-moz-border-radius-topright: 4px;-webkit-border-top-right-radius:4px; border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;-webkit-border-top-left-radius:4px; border-top-left-radius: 4px;
}

ul.tabs li.current a{
	background: #59B557;
	border-bottom: 1px solid #59B557; /*--Makes the active tab look like it's connected with its content--*/
	-moz-border-radius-topright: 4px;-webkit-border-top-right-radius:4px; border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;-webkit-border-top-left-radius:4px; border-top-left-radius: 4px;
	color:#fff;
	}

ul.tabs li.current a:hover{
	background: #59B557;
	border-bottom: 1px solid #59B557; /*--Makes the active tab look like it's connected with its content--*/
	-moz-border-radius-topright: 4px;-webkit-border-top-right-radius:4px; border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;-webkit-border-top-left-radius:4px; border-top-left-radius: 4px;

	}
	


fieldset.tab {
	display:inline-table;
	margin: 0;
/**	border-left: 1px solid #72a9c8;
	border-right: 1px solid #72a9c8;
	border-bottom: 1px solid #72a9c8;
	border-top: 1px solid #72a9c8;    */
	padding: 0px 0 4px 0;
border:none;
	width:100%;
	margin-left: 4px;
}



fieldset .subtab {
	display:inline;
	margin: 0;
	padding:0;
	border:0;
	width:100%;
	
}

.subtab a {
	font-family: Arial, Verdana;
	font-size: 12px;
	text-decoration: none;
	color: #146098;
	margin: 0 5px 0 5px;
}

.subtab a:hover {
	color: #fba603;
	text-decoration: none;
}


ul.subtabs {
	margin: 0;
	padding: 0;
	float: left;
	top:0px;
	list-style: none;
	width:100%;
	height:22px;
	font-size: 12px;
	background: #72a9c8;
}
ul.subtabs li {
	float: left;
	padding: 0;
	height: 21px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 22px; /*--Vertically aligns the text within the tab--*/

	margin-bottom: 0px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	color:#fff;
	background: #72a9c8;
	-moz-border-radius-topright: 1px;-webkit-border-top-right-radius:1px; border-top-right-radius: 1px;
	-moz-border-radius-topleft: 1px;-webkit-border-top-left-radius:1px; border-top-left-radius: 1px;
}

ul.subtabs li a {
	text-decoration: none;
	color: #1f3d7a;
	font-weight:bold;
	font-family:Verdana;
	display: block;
	font-size: 12px;
	padding: 0 12px;
	 /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
	margin:0;
	-moz-border-radius-topright: 1px;-webkit-border-top-right-radius:1px; border-top-right-radius: 1px;
	-moz-border-radius-topleft: 1px;-webkit-border-top-left-radius:1px; border-top-left-radius: 1px;
}

	
ul.subtabs li a:hover {
	background: #fef6d0;
	-moz-border-radius-topright: 1px;-webkit-border-top-right-radius:1px; border-top-right-radius: 1px;
	-moz-border-radius-topleft: 1px;-webkit-border-top-left-radius:1px; border-top-left-radius: 1px;
}

ul.subtabs li.current a{
	background: #72a9c8;
	border-bottom: 1px solid #8db6cd; /*--Makes the active tab look like it's connected with its content--*/
	-moz-border-radius-topright: 1px;-webkit-border-top-right-radius:1px; border-top-right-radius: 1px;
	-moz-border-radius-topleft: 1px;-webkit-border-top-left-radius:1px; border-top-left-radius: 1px;
	color:#fed273;
	}

ul.subtabs li.current a:hover{
	background: #72a9c8;
	border-bottom: 1px solid #8db6cd; /*--Makes the active tab look like it's connected with its content--*/
	-moz-border-radius-topright: 1px;-webkit-border-top-right-radius:1px; border-top-right-radius: 1px;
	-moz-border-radius-topleft: 1px;-webkit-border-top-left-radius:1px; border-top-left-radius: 1px;

	}
	
	
	.subtab_content{
	margin:0px;
	border:0px;
	
	
	}





ul#navigation {
	height: 36px;
	padding: 20px 20px 0 30px;
	width: 904px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	list-style: none;
}



ul#navigation li {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	float: left;
	width: 168px;
	margin: 0 10px 0 0;
	background-color: #2B477D;
	border: solid 1px #415F9D;
	position: relative;
	z-index: 1;
}

ul#navigation li.current{
	height: 36px;

	float: left;
	width: 168px;
	margin: 0 10px 0 0;
	background-color: #2B477D;
	position: relative;
	z-index: 3;
		color: #2B477D;
	border: solid 1px #fff;
	-webkit-transition: background-color 0.2s linear;
	background: -moz-linear-gradient(top center, #d1d1d1, #f2f2f2 80%) repeat scroll 0 0 #f2f2f2;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(.2, #f2f2f2),color-stop(.8, #d1d1d1));
	background-color: #f2f2f2;
}
ul#navigation li.selected {
	z-index: 3;
}

ul#navigation li.shadow {
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: -3px;
	left: 0;
	border: none;
	background: none;
	z-index: 2;
	-webkit-box-shadow: #111 0 -2px 6px;
	-moz-box-shadow: #111 0 -2px 6px;
	box-shadow: #111 0 -2px 6px;
}

ol {
	list-style: decimal;
	font-size: 24px;
	width: 400px;
	padding: 30px 0 0 60px;
	margin: 0 auto;
}

ul#navigation li a:link, ul#navigation li a:visited {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	display: block;
	text-align: center;
	width: 168px;
	height: 40px;
	line-height: 36px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 1px;
	outline: none;
	float: left;
	
	background: #2B477D;
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
}

ul#navigation li a:hover {
	background-color: #5a87dd;
}

ul#navigation li.selected a:link, ul#navigation li.selected a:visited {
	color: #2B477D;
	border: solid 1px #fff;
	-webkit-transition: background-color 0.2s linear;
	background: -moz-linear-gradient(top center, #d1d1d1, #f2f2f2 80%) repeat scroll 0 0 #f2f2f2;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(.2, #f2f2f2),color-stop(.8, #d1d1d1));
	background-color: #f2f2f2;
}


