
/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html {
    font-size: 100%; /* 1 */
    overflow-y: scroll; /* 2 */
    -webkit-text-size-adjust: 100%; /* 3 */
    -ms-text-size-adjust: 100%; /* 3 */
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */

body {
    margin: 0;
}

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */

body,
button,
input,
select,
textarea {
    font-family: sans-serif;
}


/* =============================================================================
   Links
   ========================================================================== */

/*
 * Addresses outline displayed oddly in Chrome
 */

a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a:hover,
a:active {
    outline: 0;
}


/* =============================================================================
   Typography
   ========================================================================== */

/*
 * Neutralise smaller font-size in 'section' and 'article' in FF4+, Chrome, S5
 */

h1 {
    font-size: 2em;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/

b, 
strong { 
    font-weight: bold; 
}

blockquote {
    margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */

dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */

mark {
    background: #ff0;
    color: #000;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */

/* 1 */

q {
    quotes: none;
}

/* 2 */

q:before,
q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/* =============================================================================
   Lists
   ========================================================================== */

ul,
ol {
    margin-left: 0;
    padding: 0 0 0 40px;
}

dd {
    margin: 0 0 0 40px;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */

figure {
    margin: 0;
}


/* =============================================================================
   Forms
   ========================================================================== */

/*
 * Corrects margin displayed oddly in IE6/7
 */

form {
    margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

.main a{
	border:0;
	text-decoration:none;
	}



.main{
	
	position:relative;
padding:15px;
border:solid #cacaca 1px;
margin-bottom: 15px;
min-height:1px;

	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background-color:#f3f3f3;
/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f3f3f3)); */ /* Safari 4-5, Chrome 1-9 | top,bottom */
background: -webkit-linear-gradient(top, #fff, #f3f3f3 bottom);/* Safari 5.1, Chrome 10+ | top, bottom */
background: -moz-linear-gradient(top, #fff 0%, #f3f3f3 100%);/* Firefox 3.6+ | top, bottom */
background: -ms-linear-gradient(top, #fff, #f3f3f3 bottom);/* IE 10 | top, bottom */
background: -o-linear-gradient(top, #fff, #f3f3f3 bottom);/* Opera 11.10+ | top, bottom */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f3f3f3'); /* IE8 | top, bottom */


	
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7
 */

.main legend {
    border: 1px #b5b5b6 solid; /* 1 */
    background:#ececeb;
    *margin-left: -7px; /* 2 */
 padding-left:5px;
 padding-right:5px;
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */

button,
input {
    line-height: normal; /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */

button,
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
    cursor: pointer; /* 1 */
    -webkit-appearance: button; /* 2 */
    *overflow: visible;  /* 3 */
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
		border: 0;
		background: transparent;
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding that is displayed in S5, Chrome on OS X
 */

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}


/* =============================================================================
   Tables
   ========================================================================== */

/* 
 * Remove most spacing between table cells
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}
th {
	color: white;
	background-color: #8db6cd;
	font-size: 12px;
	overflow: hidden;
}


/******************************/
/*+++++++++ chosen.css +++++++++*/
/******************************/

/******************************/
/*+++++++++ main.css +++++++++*/
/******************************/


@charset "utf-8";
/* CSS Document */

body {
background: url('../images/sprite-rep-backgrounds.png') repeat-x 0px -983px;
padding-bottom: 0px;
margin:0 0 0 0;
}
body,p,div,td,h1,h2,h3,h4,h5,h6 {
font-family:Arial, Helvetica, sans-serif;	
font-size:12px;
color:#545454;
}

html { overflow:auto; background-color:#fcfbfa; }
html, body { height:100%; margin:0 0 0 0; padding:0 0 0 0; /*overflow:auto;*/ }

a { color:#1366b0; text-decoration:none; border-bottom:solid #1366b0 1px; }
a.noLine { border-bottom:none; }
a:hover { color:#269dd9; }

h1 {font-size:33px;margin: 0 0 0 0;}
h2 {font-size:20px; margin-top:0px;}
h3 {font-size:16px;}
h4 {font-size:14px;}
.topMargin {margin-top:30px;}

p {
padding:0;
margin:15px 0;
line-height:1.5em;	
}

blockquote	{
border-left:1px solid #999;
padding-left:10px;	
font-style:italic;
}

.clearBoth { clear:both; }

.noMargin { margin:0 0 0 0; }
.noPadding { padding:0 0 0 0; }
.left { float:left;}
.right { float:right; }

#pageWrapper {
position: relative;
width: 960px;
margin: 0 auto;
height: 100%;
}

#wrapper {
position:relative;
width:960px;
margin:0 auto;
min-height:100%;
background: url('../images/sprite-rep-backgrounds.png') repeat-x 0px -983px;


}

#contentWrapper {
overflow:auto;
width: auto;
padding: 0px 0px 0px 0px;

z-index: 1;
}


/***** basic forms  *****/
/*label {
display:block;
padding:5px 0;
width:100px;
font-weight:bold;
}*/

input[type=text],input[type=password], select, textarea {
border:2px solid #d5d5d5;
padding:8px 0px;
}
input[type=text],input[type=password], textarea {
padding: 7px 3px 5px;
}

.input-wrapper {
	width: 390px;
	padding: 20px;
}
.input-wrapper.full { width:auto; }
.input-wrapper.left { float:left; }
.input-wrapper.right { float:right; }
.input-wrapper.noPadding { padding:0 0 0 0; }
.input-wrapper.noPaddingSides { padding-left:0;padding-right:0; }

.input-wrapper label { color:#333; }

input[type="text"],input[type=password] {
border: 1px solid #d5d5d5;
width: 250px;
padding: 7px 3px 5px;
-moz-box-shadow:inset 0 0 1px #dadada;
-webkit-box-shadow:inset 0 0 1px #dadada;
box-shadow:inset 0 0 1px #dadada;
font-size:13px;
}

#couponmessage { background-color: #EBF2D8; padding: 5px 5px 3px 10px; border: 1px solid #999; margin-bottom: 8px; }

fieldset { border:none; }
legend { font-size:16px; font-weight:bold; }
label {
display:inline-block;
margin-top: 15px;
padding: 0 0 0 0;
width: auto;
}
/***** end basic forms *****/

/***** header *****/
#header {
margin:0 auto;
padding-top: 40px;
zoom:1;
}

#logo {
display: block;
width: 230px;
height: 53px;
float: left;
margin: -17px 0 25px 10px;
border: none;
background: url('../images/logo.png') no-repeat 0px 0px;
}

.addthis_toolbox {
position: absolute;
top: 10px;
right: 168px;
width: 206px;
}

.addthis_toolbox ul { list-style:none;  }
.addthis_toolbox ul li { float:left; }
.addthis_toolbox a { border:none; }

#utilities {
position:absolute;
top: 0px;
right: 0px;
list-style:none;
background-color: #555555;
padding: 5px 5px 7px;
border: solid #CCC 1px;
border-top: none;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
}

#utilities li {
float:left;
margin:0 10px;	
padding: 2px 0 0 0;
}
#utilities a {
color:#ccc;
border-bottom:none;
font-size:13px;
font-weight:bold;
cursor:pointer;
}
#utilities a:hover { color:#eee; }
#utilities .login span {
display:inline-block;
width: 12px;
height:18px;
vertical-align:middle;
/*background: url("../images/sprite-icons.png") no-repeat 0px -0.9px;*/
padding-right: 5px;
}
#utilities .support span {
display:inline-block;
width: 16px;
height:18px;
vertical-align:middle;
/*background: url("../images/sprite-icons.png") no-repeat 0px -18px;*/
padding-right: 5px;
}
#utilities .chat span {
display:inline-block;
width: 16px;
height:18px;
vertical-align:middle;
/*background: url("../images/sprite-icons.png") no-repeat 0px -37px;*/
padding-right: 5px;
}

#headerRight {
font-size:25px;
float: right;
height:30px;
margin-right:10px;
margin-top:-15px;
padding-left: 25px;
font-weight: bold;
text-shadow: 0px 1px #fff;
}
.iconPhone {
/*background: url("../images/sprite-icons.png") no-repeat -0.8px -58px;*/
display: inline-block;
width: 24px;
height: 27px;
vertical-align: middle;
margin-right: 5px;
}
#right_text {
font-size: 16px;
color: #808b96;
text-shadow: 0px 1px #fff;
clear: both;
display: block;
text-align: right;
}

/***** end header *****/

/***** main nav *****/

#mainNav {
margin: 0 0 25px 0;
padding: 0px 0px 0px 0px;
clear: both;
display: block;
height: 46px;

list-style-image: none;
}

#mainNav li {
float:left;
display:block;
text-align:center;
font-weight:bold;
font-size:16px;
text-shadow: 1px 1px #333;
background: none;
margin: 0px 0px 0px 0px;
}
#mainNav li.last a { padding-left:33px; }

#mainNav a {
color:#d0d0d0;
border-bottom:none;
padding: 17px 30px 18px 30px;
display: block;
}

#mainNav a.active, #mainNav a:hover {
color:#fefefe;
background: url('../images/sprite-rep-backgrounds.png') repeat-x 0px -925px;
}

/***** end main nav *****/

/***** sub nav *****/

#subNav {
min-height:80px;
}

.subNav {
margin:0 0 0 0;
padding:0 0 0 0;
}
.subNav li {
margin:0 0 0 10px;
padding:0px 0 0px 10px;
line-height:20px;
font-size:16px;
color:#d0d0d0;
border-left: solid #a9a9a9 1px;
}
.subNav a { color:#d0d0d0;border:none; }
.subNav a:hover { color:#fefefe; }

.subNav a.selected { color:#fefefe; }

.subNav .heading {
margin:0 0 10px 0;
padding:0 0 0 0;
line-height:1em;
border-left:none;
}
.subNav h3 {
margin:0 0 0 0;
padding:0 0 0 0;
}
/***** end sub nav *****/

/***** breadcrumbs *****/
#breadCrumbs {
list-style:none;
margin: -3px 0 5px 0;
padding: 0px 0 0 0;
width:auto;
height: 16px;
}

#breadCrumbs li {
float:left;
margin: 0 8px 0 0px;
padding: 0 0 0 18px;
font-weight:bold;
background:url('../images/bullet-carrot.png') no-repeat center left;
}
#breadCrumbs li.first {
background:none;
padding-left: 11px;
}

#breadCrumbs li a {
color:#6f6f6f;
border:none;
font-weight:normal;
}
#breadCrumbs li a:hover {
color:#545454;
}
/***** end breadcrumbs *****/

/***** awards bar *****/
#awardsBar {
border:solid #dcdcdc 1px;
border-bottom: none;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
padding: 20px 30px 13px;
min-height:1px;
clear: both;
}
#awardsBar h2 { margin-bottom: 10px; }
#awardsBar p { margin:0 0 0 0; }

#awardsBar .link { text-align:right; margin: 4px 5px 0 0;}

/***** end awards bar *****/

/***** footer *****/

#footer1 {
height: 87px;
width: 920px;
margin: 0px auto 1px;
padding: 13px 30px 12px;
/*****background: url('../images/sprite-lrg-icons.png') no-repeat 34px -105px; */
background-color: #dcdcdc;
}
#footer ul {
position:relative;
margin:0;
padding:0;
z-index: 5;
}

#footer {
margin:0 auto;
width:980px;
height:175px;
border-top: none;
color: #cdcdcd;
background-color:#7b7b7b;
position:relative;
top:125px;
}

#footerWrapper {
clear: both;
height:300px;
width: 100%;

background: #6c6c6c url('../images/sprite-rep-backgrounds.png') repeat-x top;
position:relative;
}

#footer h3 {
margin: 30px 0 27px;
font-size:14px;
color:#cdcdcd;
}

.footerCol {
display:block;
float:left;
width: auto;
margin: 0px 21px;
}
.footerCol.text { width: 22%; margin-left: 36px;}
.footerCol.text a {
color:#cdcdcd;
border-bottom:solid #cdcdcd 1px;
}

.footerCol.text p {
line-height: 1.7em;
color:#cdcdcd;
margin:9px 0;
}

.footerCol.last { margin-right:0px; }

.footerCol ul {
list-style:none;
list-style-type:none;
list-style-image:none;
}

.footerCol ul li {
margin: 13px 0;
}
.footerCol a {
color:#cdcdcd;
border-bottom:none;
}
.footerCol a:hover { color:#fff; }

#siteInfo {
clear:both;
zoom:1;
width:980px;
margin:0 auto;
padding-top: 0px;
padding-bottom:20px;
text-align:center;
color:#cdcdcd;
font-size:14px;
font-weight:bold;
}
#siteInfo a {
color:#cdcdcd;
border-bottom:none;
}
#siteInfo a:hover {
border-bottom: solid #ccc 1px;
}

#siteInfo #copy { margin-bottom: 30px; color:#cdcdcd; }

.footerCol #gPlusLogo {
/*background: url('../images/sprite-icons.png') no-repeat;*/
background-position: -82px -52px;
width: 16px;
height: 16px;
margin-right: 2px;
}
.footerCol #twitterLogo {
/*background: url('../images/sprite-icons.png') no-repeat;*/
background-position: -82px -31px;
width: 16px;
height: 16px;
margin-right: 4px;
}
.footerCol #facebookLogo {
/*background: url('../images/sprite-icons.png') no-repeat;*/
background-position: -82px -6px;
width: 16px;
height: 16px;
}

#ccLogos {
/*background: url('../images/sprite-icons.png') no-repeat;*/
background-position: -106px 0px;
width: 292px;
height: 32px;
}

#i2cLogo a {
/*background:url('../images/sprite-icons.png') no-repeat;*/
display: inline-block;
background-position: -54px -90px;
width: 117px;
height: 67px;
}
#i2cLogo a:hover { border-bottom:none; }
/***** end footer *****/

/***** backgrounds *****/
.bck0 { background-color:#fff; }
.bck1 {
background: url("../images/bck-white-right-arrow.png") no-repeat 75% 50%;
}
.bck2 {
background-color:#fafafa;
}
.bck3 { background-color:#F0F0F0; }
.glowInner1 { box-shadow:inset 0px 0px 4px #fff; }

/***** borders *****/
hr {
height:0px;
margin:30px 0px;
border:none;
border-top:solid #d8d8d8 1px;
}
.underline1 {
padding-bottom:3px;
border-bottom:solid #d8d8d8 1px;
}
.border1 { border:solid #d8d8d8 3px; }
/***** end borders *****/

/***** boxes *****/
.boxContent{
	margin: 0 3px;	
}
.boxContentSml{
	margin: 0 50px;	
}
.box {
position:relative;
padding:15px;
border:solid #cacaca 1px;
margin-bottom: 15px;
min-height:1px;
}

.box1 {
position:relative;
border:solid #cacaca 1px;
}

.box2 {
position:relative;
border:solid #cacaca 1px;
padding:17px;
}

.txtBox {
clear:both;
margin:40px 0;
min-height:50px;
width: 90%;
}

.txtIconBox {
clear:both;
margin:50px 0;
min-height:105px;
width: 98%;
}
.txtIconBox img {
float:left;
margin-right:20px;
}
.txtIconBox h2, .txtIconBox p { 
font-weight: normal;
margin-left: 100px;
}
.txtIconBox ul {
margin-left:150px;
margin-right:30px;
}

.txtBox ul {
margin-left:20px;
margin-right:30px;
}

/***** end boxes *****/


/***** button styles *****/
.btn1Lrg { /*orange*/
position:relative;
display:inline-block;
padding: 20px 32px 20px 40px;
font-weight:bold;
font-size: 29px;
color:#434343;
text-decoration:none;
text-shadow: 1px 1px #f8ce92;
background:url('../images/sprite-btns.png') no-repeat top left;
margin: 0 11px 0 0;
line-height: normal;
border: none;
}
.ui-widget-content a.btn1Lrg { color:#fff; }
.btn1Lrg span {
position:absolute;
display:block;
top: 0;
right: -11px;
width:11px;
height: 74px;
background:url('../images/sprite-btns.png') no-repeat top right;
}
.btn1Lrg:hover {
background-position: 0px -74px;
color:#434343;
cursor:pointer;
}
.btn1Lrg:hover > span {
background-position: right -74px;
}

.btn1Med { /*orange*/
position:relative;
display:inline-block;
padding: 16px 24px 16px 36px;
font-weight:bold;
font-size: 16px;
color:#434343;
text-decoration:none;
text-shadow: 1px 1px #f8ce92;
background: url('../images/sprite-btns.png') no-repeat left -251px;
margin: 0 11px 0 0;
line-height: normal;
border: none;
}
.ui-widget-content a.btn1Med { color:#fff; }
.btn1Med span {
position:absolute;
display:block;
top: 0;
right: -11px;
width:11px;
height: 52px;
background: url('../images/sprite-btns.png') no-repeat right -251px;
}
.btn1Med:hover {
background-position: 0px -301px;
color:#434343;
cursor:pointer;
}
.btn1Med:hover > span {
background-position: right -301px;
}

.btn1Sml { /*orange*/
position:relative;
display:inline-block;
padding: 14px 24px 14px 36px;
font-weight:bold;
font-size: 14px;
color:#434343;
text-decoration:none;
text-shadow: 1px 1px #f8ce92;
background: url('../images/sprite-btns.png') no-repeat left -351px;
margin: 0 11px 0 0;
line-height: normal;
border: none;
}
.ui-widget-content a.btn1Sml { color:#fff; }
.btn1Sml span {
position:absolute;
display:block;
top: 0;
right: -11px;
width:11px;
height: 44px;
background: url('../images/sprite-btns.png') no-repeat right -351px;
}
.btn1Sml:hover {
background-position: 0px -394px;
color:#434343;
cursor:pointer;
}
.btn1Sml:hover > span {
background-position: right -394px;
}

.btn2Med { /*blue*/
position:relative;
display:inline-block;
padding: 16px 17px 16px 29px;
font-weight:bold;
font-size: 16px;
color:#fff;
text-decoration:none;
text-shadow: 1px 1px #0a3358;
background: url('../images/sprite-btns.png') no-repeat left -149px;
margin: 0 11px 0 0;
line-height: normal;
border: none;
}
.ui-widget-content a.btn2Med { color:#fff; }
.btn2Med span {
position:absolute;
display:block;
top: 0;
right: -11px;
width:11px;
height: 52px;
background: url('../images/sprite-btns.png') no-repeat right -149px;
}
.btn2Med:hover {
background-position: 0px -201px;
color:#fff;
cursor:pointer;
}
.btn2Med:hover > span {
background-position: right -201px;
}

.btn2Sml { /*blue*/
position:relative;
display:inline-block;
padding: 14px 24px 14px 36px;
font-weight:bold;
font-size: 14px;
color:#fff;
text-decoration:none;
text-shadow: 1px 1px #0a3358;
background: url('../images/sprite-btns.png') no-repeat left -537px;
margin: 0 11px 0 0;
line-height: normal;
border: none;
}
.ui-widget-content a.btn2Sml { color:#fff; }
.btn2Sml span {
position:absolute;
display:block;
top: 0;
right: -11px;
width:11px;
height: 44px;
background: url('../images/sprite-btns.png') no-repeat right -537px;
}
.btn2Sml:hover {
background-position: 0px -580px;
color:#fff;
cursor:pointer;
}
.btn2Sml:hover > span {
background-position: right -580px;
}

.btn3Med { /*grey*/
position:relative;
display:inline-block;
padding: 16px 24px 12px 36px;
font-weight:bold;
font-size: 16px;
color:#fff;
text-decoration:none;
text-shadow: 1px 1px #999;
background: url('../images/sprite-btns.png') no-repeat left -439px;
margin: 0 11px 0 0;
line-height: normal;
border: none;
}
.ui-widget-content a.btn3Med { color:#fff; }
.btn3Med span {
position:absolute;
display:block;
top: 0;
right: -11px;
width:11px;
height: 52px;
background: url('../images/sprite-btns.png') no-repeat right -439px;
}
.btn3Med:hover {
background-position: 0px -489px;
color:#fff;
cursor:pointer;
}
.btn3Med:hover > span {
background-position: right -489px;
}

.btn4Med { /*dark grey*/
position:relative;
display:inline-block;
padding: 16px 24px 12px 36px;
font-weight:bold;
font-size: 16px;
color:#333;
text-decoration:none;
text-shadow: 1px 1px #999;
background: url('../images/sprite-btns.png') no-repeat left -625px;
margin: 0 11px 0 0;
line-height: normal;
border: none;
}
.ui-widget-content a.btn4Med { color:#333; }
.btn4Med span {
position:absolute;
display:block;
top: 0;
right: -11px;
width:11px;
height: 52px;
background: url('../images/sprite-btns.png') no-repeat right -625px;
}
.btn4Med:hover {
background-position: 0px -675px;
color:#CCC;
text-shadow: 1px 1px #000;
cursor:pointer;
}
.btn4Med:hover > span {
background-position: right -675px;
}

.btnRight{
	float: right;	
}
.btnRight1{
	float: right;
	margin-top: -48px;	
}
/***** end buttons *****/


/***** gradients *****/
.gradient1 { /*dark grey*/
background-color:#555555;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7a7a7a), to(#555));/* Safari 4-5, Chrome 1-9 | bottom,top */
background: -webkit-linear-gradient(top, #7a7a7a, #555 bottom);/* Safari 5.1, Chrome 10+ | top, bottom */
background: -moz-linear-gradient(top, #7a7a7a 0%, #555 100%);/* Firefox 3.6+ | top, bottom */
background: -ms-linear-gradient(top, #7a7a7a, #555 bottom);/* IE 10 | top, bottom */
background: -o-linear-gradient(top, #7a7a7a, #555 bottom);/* Opera 11.10+ | top, bottom */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7a7a7a', endColorstr='#555555'); /* IE8 | top, bottom */
}
.gradient2 { /*light grey*/
background-color:#f0f0f0;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5), to(#f0f0f0));/* Safari 4-5, Chrome 1-9 | bottom,top */
background: -webkit-linear-gradient(top, #f5f5f5, #f0f0f0 bottom);/* Safari 5.1, Chrome 10+ | top, bottom */
background: -moz-linear-gradient(top, #f5f5f5 0%, #f0f0f0 100%);/* Firefox 3.6+ | top, bottom */
background: -ms-linear-gradient(top, #f5f5f5, #f0f0f0 bottom);/* IE 10 | top, bottom */
background: -o-linear-gradient(top, #f5f5f5, #f0f0f0 bottom);/* Opera 11.10+ | top, bottom */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f0f0f0'); /* IE8 | top, bottom */
}
.gradient3 { /*white to light grey*/
background-color:#f3f3f3;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f3f3f3));/* Safari 4-5, Chrome 1-9 | top,bottom */
background: -webkit-linear-gradient(top, #fff, #f3f3f3 bottom);/* Safari 5.1, Chrome 10+ | top, bottom */
background: -moz-linear-gradient(top, #fff 0%, #f3f3f3 100%);/* Firefox 3.6+ | top, bottom */
background: -ms-linear-gradient(top, #fff, #f3f3f3 bottom);/* IE 10 | top, bottom */
background: -o-linear-gradient(top, #fff, #f3f3f3 bottom);/* Opera 11.10+ | top, bottom */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f3f3f3'); /* IE8 | top, bottom */
}
/***** end gradients *****/



/***** page header *****/
#pageHeader {
padding-left:25px;
}
#pageHeader .mainTagLine {
margin:0 0 0 0;
}
/***** end page header *****/

/***** progress bar *****/
.progressBarLrg { padding:0px; }
.pBarStep {
float:left;
position:relative;
height: 40px;
background: url('../images/sprite-progress-bar.png') no-repeat 0px -94px;
padding: 15px 0px 13px 24px;
font-size:16px;
margin-right: 15px;
}
.pBarStep .cap {
display:block;
position:absolute;
width: 16px;
height: 68px;
background: url('../images/sprite-progress-bar.png') no-repeat right -94px;
right: -16px;
top: 0px;
}

/** first step **/
.pBarStepFirst {
padding-left: 18px;
background-position: left -165px;
}
/** //first step **/

/** last step **/
.pBarStepLast {
margin-right: 0px;
padding-right: 0px;
width:145px;
}
.pBarStepLast .cap {
background-position:right -165px;
}
/** //last step **/
/***** end progress bar *****/

/***** rounded corners *****/
.roundedSml {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.roundedMed {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.roundedMedTop {
-webkit-border-top-left-radius: 5px;
-moz-border-top-left-radius: 5px;
border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-top-right-radius: 5px;
border-top-right-radius: 5px;
}
/***** end rounded corners *****/

/***** shadows *****/
.navShadow {
border:none;
-moz-box-shadow: 0px 0px 6px #333;
-webkit-box-shadow: 0px 0px 6px #333;
box-shadow: 0px 0px 6px #333;
}
.shadowMed {
-moz-box-shadow: 0px 0px 4px #ccc;
-webkit-box-shadow: 0px 0px 4px #ccc;
box-shadow: 0px 0px 4px #ccc;
}
/***** end shadows *****/

/***** text styles *****/
.txt1 { color:#fb9400; } /*orange*/
.txt2 { color:#fff; } /*white*/
.txt3 { color:#1366b0; } /*blue*/
.note { color: #ff0000; font-size: 10px;}/*notes disclaimer*/
.note2 { color: #545454; font-size: 10px;}/*black*/
.note3 { color: #959595; font-size: 10px;}/*grey*/
.notice {color:#6faf00; border:1px solid #9ab605; background-color:#f5fec3; font-weight:bold;}

.txtXSml { font-size:10px; }
.txtMed { font-size:16px; }
.txtLrg { font-size:24px; }

.antiAliasDrkGray {
text-shadow:0px 0px 1px #545454;
}

.planGuarantee a {
color:#545454;
border-bottom:none;
}
/***** end text styles *****/



.hide{
	display: none;
}


.imgrep{display:-moz-inline-box;display:inline-block;background:transparent none 0 0 no-repeat;text-indent:-3000px;font:0/0 Arial;overflow:hidden;color:rgba(255,255,255,0);vertical-align:bottom;}


/******************************/
/*+++++++++ jquery.tooltip.css +++++++++*/
/******************************/


#tooltip {
position: absolute;
width:200px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 0px 0px 4px #ccc;
-webkit-box-shadow: 0px 0px 4px #ccc;
box-shadow: 0px 0px 4px #ccc;
z-index: 3000;
border:solid #cacaca 1px;
background-color: #eee;
padding: 10px;
opacity: 0.85;

}
#tooltip h3, #tooltip div {
margin: 0;
font-weight:normal;
font-size:12px;
}